<h1>Geolocator TryIt Page</h1>
<h3>String Filter takes an input string and removes any word that isn't one of the keywords.</h3>
<h3>For the purpose of the full integration, the keywords are set to "find" and "danger".</h3>
<h3>Try inputting a phrase with one or both of these words included in the phrase, such as "Alexa, please find danger around me."</h3>
<form method='POST'>
    <input name='input_string_input' />
    <input type='submit' />
</form>

<p>Filtered String: {{ filtered_string }}</p>